<div class="col">
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group">
        <input class="form-control form-control-lg" type="text" placeholder="Imagine Dragons - Natural">
        <div class="input-group-append">
          <button type="submit" class="btn btn-info btn-lg">Rechercher</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <button class="btn btn-light btn-sm" type="button" data-toggle="collapse" data-target="#filtres"
        aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-sliders fa-fw" aria-hidden="true"></i> Filtrer
      </button>
      <div class="collapse" id="filtres">
        <div class="col-sm-12 mt-4 mb-4">
          <div class="row">
            <div class="col-sm-4">
              <h6>DATE D'AJOUT</h6>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Dernière heure</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Aujourd'hui</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Cette semaine</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Ce mois-ci</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h6>DURÉE</h6>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Moins de 2 minutes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Moins de 5 minutes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Moins de 10 minutes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="#">Plus de 10 minutes</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h6>TRIER PAR</h6>
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Date de mise en ligne</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Nombre d'écoutes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Avis</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-12">
      <div class="music-box">
        <div class="row">
          <div class="col-sm-4">
            <img src="assets/img/music-cover.jpg" alt="Imagine Dragons - Natural" class="img-fluid">
          </div>
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-12">
                <h4>Imagine Dragons - Natural</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <small>ImagineDragons - 235 M vues - Il y a 9 mois</small>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution
                  of letters, as opposed to using 'Content here, content here', making it look like readable English.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>