<h3>
  StandUp
  <small class="text-muted">À propos</small>
</h3>
<p class="lead">
Nous venons vers vous aujourd’hui avec l’ambition de développer la plateforme web qui permettra de donner vie au concept Stand up.
Nous avons d’abord approché l’industrie de la musique dans une démarche d’observation. Cela nous a permis de percevoir les difficultés pour un artiste d’émerger de la masse. Parallèlement, nous avons fait le constat que le passionné de musique, trop souvent considéré comme un simple consommateur, n’est pas entendu dans cette industrie qui lui est destinée.
Face à ces difficultés, nous avons à présent le souhait d’agir et de vous proposer une solution adaptée.
Stand up permettra aux artistes d'émerger grâce aux interactions avec leur public, au public passionné de participer à la création musicale et de contribuer à l’épanouissement des artistes et aux professionnels de repérer les artistes émergents à fort potentiel.
Stand up se positionne comme un intermédiaire dans une industrie en recherche d'innovation :
</p>
<ul>
  <li>Bien plus qu’auparavant, un artiste se doit d’avoir de l’expérience et du contenu pour pouvoir démarcher ou être repéré par des professionnels. Stand up l’aidera à passer cette première étape délicate par le biais de services et de mise en réseau.</li>
  <li>Le passionné a un pouvoir de persuasion considérable, il peut permettre aux artistes d'émerger et aux professionnels d'identifier les talents. Grâce à Stand up, le public, trop souvent considéré comme un simple consommateur, aura enfin un rôle actif.</li>
  <li>Pour un professionnel de l’industrie, miser sur un artiste émergent est toujours un risque. La future communauté Stand up lui permettra de le réduire considérablement, grâce à l’avis de ses amateurs éclairés.</li>
</ul>